* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: transparent;
    border: none;
    z-index: 3;
}

.navbar a {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: transform 0.25s ease;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    transform: scale(1.08);
}

.navbar .nav-links ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 6rem;
    color: white;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0;
    animation: fadeUp 1.2s ease-out forwards;
}

.hero-subtitle {
    font-family: 'Roboto', sans-seriff;
    font-weight:300;
    font-size: 1rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    opacity: 0;
    animation: fadeUp 1.4s ease-out forwards;
}

.back-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay {
    position:absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-55%)
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%)
    }
}

.about-section {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    font-family: 'Roboto', sans-serif
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    max-width: 1100px;
    width 100%;
}

.about-photo {
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 0;
}
.about-text h1 {
    max-width: 400px;
}

.hello-title {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

.name-title {
    font-size 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 300;
}

.video-section {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding: 120px 40px 60px;
    font-family: 'Roboto', sans-serif;
}

.video-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    margin-top: 120px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    justify-content: center;
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item video {
    width: 100%;
    max-width: 600px;
    heigh: auto;
    object-fit: cover;
    background: black;
    display: block;
}

.video-caption {
    margin-top: 0.9rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: white;
}

.contact-section {
    background-color: black;
    min-height: 100vh;
    color: white;
    padding-top: 150px;
    text-align: center;
}

.contact-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 14px;
    border-radius: 6px;
    border: none;
    background: #1a1a1a;
    color: white;
    font-size: 1rem;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}

.contact-form button {
    padding: 14px;
    background: white;
    color: black;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}

.contact-form button: hover {
    background: #ffefef;
    transform: scale(1.04);
}